:root {
    --primary: #00A65C;
    --primary-text: #ffffff;
    --primary-hover:#44BF8D; 
    --primary-btn-hover:#558B95;
    --gray: #EFEFEF;
    --text: #000000;
    --transition: all ease 0.5s;
    --font: 'Roboto', sans-serif;
    --gutter: 15px;
    --primary-blue:rgb(17,55,116);
}